#s-11eacf90-b208-44aa-a1e9-f0ca9003ba18 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11eacf90-b208-44aa-a1e9-f0ca9003ba18 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11eacf90-b208-44aa-a1e9-f0ca9003ba18 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}