#s-11eacf90-b208-44aa-a1e9-f0ca9003ba18 #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-11eacf90-b208-44aa-a1e9-f0ca9003ba18 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-11eacf90-b208-44aa-a1e9-f0ca9003ba18 #s-Table_1 {
  border-collapse: separate;
}
#s-11eacf90-b208-44aa-a1e9-f0ca9003ba18 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}