#s-175456e3-6802-4a58-99e6-5f8778cbe562 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-175456e3-6802-4a58-99e6-5f8778cbe562 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-175456e3-6802-4a58-99e6-5f8778cbe562 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-175456e3-6802-4a58-99e6-5f8778cbe562 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}