#s-175456e3-6802-4a58-99e6-5f8778cbe562 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-175456e3-6802-4a58-99e6-5f8778cbe562 #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-175456e3-6802-4a58-99e6-5f8778cbe562 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-175456e3-6802-4a58-99e6-5f8778cbe562 #s-Table_1 {
  border-collapse: separate;
}
#s-175456e3-6802-4a58-99e6-5f8778cbe562 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}