#s-18f856ca-2a8b-48e7-8284-70e3b3c1203a #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18f856ca-2a8b-48e7-8284-70e3b3c1203a #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18f856ca-2a8b-48e7-8284-70e3b3c1203a #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18f856ca-2a8b-48e7-8284-70e3b3c1203a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}