#s-26311608-0dc7-42f5-908b-db83f710338d #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26311608-0dc7-42f5-908b-db83f710338d #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26311608-0dc7-42f5-908b-db83f710338d #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26311608-0dc7-42f5-908b-db83f710338d #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26311608-0dc7-42f5-908b-db83f710338d #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26311608-0dc7-42f5-908b-db83f710338d #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26311608-0dc7-42f5-908b-db83f710338d #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26311608-0dc7-42f5-908b-db83f710338d #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26311608-0dc7-42f5-908b-db83f710338d #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26311608-0dc7-42f5-908b-db83f710338d #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26311608-0dc7-42f5-908b-db83f710338d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}