#s-6b3e3f2a-4dbc-4af4-9ce7-385692ac1787 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b3e3f2a-4dbc-4af4-9ce7-385692ac1787 #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b3e3f2a-4dbc-4af4-9ce7-385692ac1787 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}