#s-81304014-f3a7-49a5-b3ae-0ecad979ccb6 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-81304014-f3a7-49a5-b3ae-0ecad979ccb6 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-81304014-f3a7-49a5-b3ae-0ecad979ccb6 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-81304014-f3a7-49a5-b3ae-0ecad979ccb6 #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-81304014-f3a7-49a5-b3ae-0ecad979ccb6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}