#s-e6a84bbd-a714-4b0c-ad65-8cba722e6f11 #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-e6a84bbd-a714-4b0c-ad65-8cba722e6f11 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-e6a84bbd-a714-4b0c-ad65-8cba722e6f11 #s-Table_1 {
  border-collapse: separate;
}
#s-e6a84bbd-a714-4b0c-ad65-8cba722e6f11 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}