#s-e6a84bbd-a714-4b0c-ad65-8cba722e6f11 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6a84bbd-a714-4b0c-ad65-8cba722e6f11 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6a84bbd-a714-4b0c-ad65-8cba722e6f11 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}