#t-a5d057ff-1dc7-40e1-b0c9-6f44e9938885 #t-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-a5d057ff-1dc7-40e1-b0c9-6f44e9938885 #t-Header {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-a5d057ff-1dc7-40e1-b0c9-6f44e9938885 #t-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-a5d057ff-1dc7-40e1-b0c9-6f44e9938885 #t-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-a5d057ff-1dc7-40e1-b0c9-6f44e9938885 #t-Header_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-a5d057ff-1dc7-40e1-b0c9-6f44e9938885 #t-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-a5d057ff-1dc7-40e1-b0c9-6f44e9938885 #t-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-a5d057ff-1dc7-40e1-b0c9-6f44e9938885 #t-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-a5d057ff-1dc7-40e1-b0c9-6f44e9938885 #t-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-a5d057ff-1dc7-40e1-b0c9-6f44e9938885 #t-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-a5d057ff-1dc7-40e1-b0c9-6f44e9938885 #t-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-a5d057ff-1dc7-40e1-b0c9-6f44e9938885 #t-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-a5d057ff-1dc7-40e1-b0c9-6f44e9938885 #t-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-a5d057ff-1dc7-40e1-b0c9-6f44e9938885 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}