#t-b4432832-687d-4f9b-ae19-37b678c2c177 #t-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-b4432832-687d-4f9b-ae19-37b678c2c177 #t-Header {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-b4432832-687d-4f9b-ae19-37b678c2c177 #t-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-b4432832-687d-4f9b-ae19-37b678c2c177 #t-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-b4432832-687d-4f9b-ae19-37b678c2c177 #t-Header_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-b4432832-687d-4f9b-ae19-37b678c2c177 #t-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-b4432832-687d-4f9b-ae19-37b678c2c177 #t-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-b4432832-687d-4f9b-ae19-37b678c2c177 #t-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-b4432832-687d-4f9b-ae19-37b678c2c177 #t-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-b4432832-687d-4f9b-ae19-37b678c2c177 #t-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-b4432832-687d-4f9b-ae19-37b678c2c177 #t-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-b4432832-687d-4f9b-ae19-37b678c2c177 #t-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-b4432832-687d-4f9b-ae19-37b678c2c177 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}